<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List Student</h1>
    <table>
        <thead>
        <tr>
            <th> RollNumber </th>
            <th> FullName </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${studentPageable.empty}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="student : ${studentPageable}">
            <td><span th:text="${student.rollNumber}"> RollNumber </span></td>
            <td><span th:text="${student.author}"> FullName </span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>